@import "tailwindcss";

@theme {
	--breakpoint-*: initial;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--breakpoint-xxl: 1400px;

	--color-*: initial;
	--color-gray-800: #2F2F2F;
	--color-gray-600: #434343;
	--color-blue-300: #DDE7FC;
	--color-blue-600: #7DB2B6;
	--color-blue-700: #5a7f82;
	--color-yellow-200: #F0F0F0;

	--font-afacad: var(--font-afacad);
	--font-roboto: var(--font-roboto);
}

body {
}